nav#sideScrollspy
    ul.nav.nav-pills.nav-stacked(data-spy='affix', data-offset-top='305')
        li
            a(href='#acupressure') Acupressure
        li
            a(href='#acupuncture') Acupuncture
        li
            a(href='#cupping') Cupping
        li
            a(href='#fengShui') Feng Shui
        li
            a(href='#guaSha') Gua Sha
        li
            a(href='#foodTherapy') Food Therapy
        li
            a(href='#guidedImagry') Guided Imagry
        li
            a(href='#herbalMedicine') Herbal Medicine
        li
            a(href='#highGradeTeas') High Grade Teas
        li
            a(href='#mindfulness') Mindfulness
        li
            a(href='#moxibustion') Moxibustion
        li
            a(href='#musicTherapy') Music Therapy
        li
            a(href='#taiChiQiGong') Tai Chi & Qi Gong
        li
            a(href='#tuiNaMassage') Tui Na Massage
        li
            a(href='#veterans') Veterans