ul#slides
    li.tcSlide.showing
        img(src='images/treatableConditions/ss_allergies.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_anxiety.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_asthma2.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_bellspalsy.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_carpaltunnel.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_cf.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_cold.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_Constipation.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_fertility.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_Fibromyalgia.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_HipPain.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_ibs.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_Incontinence.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_insomnia.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_migraine.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_MorningSickness.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_osteoarthritis.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_sciatica.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_shoulderpain.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_sinusitis.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_stress.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_tn.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_TravelSickness.jpg')
    li.tcSlide
        img(src='images/treatableConditions/ss_uti.jpg')
    li.tcSlide