//
   Created by cody on 5/29/17.

extends layout

block content
    h1 #{title}

    h3 Pharm.D., L.Ac., O.M.D.

    h3 Clinical Director & Co-founder of CIM
    h3 Doctor of Traditional Chinese Medicine

    ul
        li Licensed Acupuncturist and Herbalist
        li Holistic and Natural Family Medicine
        li Professor of Integrative Medicine
        li Doctorate of Pharmacology
        li Clinical Preceptor to Medical Students

    p Her philosophy is firmly rooted in the belief that illness is the cause of imbalances and disharmony of the body. Wellness is achieved through correcting the imbalances usually by using a combination of TCM (Traditional Chinese Medicine) treatments such as acupuncture, herbs, food therapy, healing medical exercises, massage etc. She has treated a broad spectrum of medical conditions and believes that there is no true healing without simultaneous involvement of body, mind, and spirit.

    p She is truly a modern day medical practitioner and is an invaluable resource to her community since she is able to integrate the two health care systems. Born in Hong Kong and has degrees in both Western and Eastern Medicine; Speaks English and Chinese (Cantonese and Taisanese). She is also the Co-founder and President of ACS (Asian Cultural Society) and ASAO (Autism Spectrum/Asperger Organization of Tulare and Kings County). You will find her tending to her organic garden when she is not teaching, lecturing, writing or involved in patient care.
