extends layout

block content
    .container
        .row
            .col-md-3
                include templates/subNavBars/navServices
            .col-md-9
                #acupressure
                    h1 Acupressure
                    include templates/services/acupressure
                #acupuncture
                    h1 Acupuncture
                    include templates/services/acupuncture
                #cupping
                    h1 Cupping
                    include templates/services/cupping
                #fengShui
                    h1 Feng Shui
                    include templates/services/fengshui
                #guaSha
                    h1 Gua Sha
                    include templates/services/guaSha
                #foodTherapy
                    h1 Food Therapy
                    include templates/services/foodTherapy
                #guidedImagry
                    h1 Guided Imagry
                    include templates/services/guidedImagry
                #herbalMedicine
                    h1 Herbal Medicine
                    include templates/services/herbalMedicine
                #highGradeTeas
                    h1 High Grade Teas
                    include templates/services/highGradeTeas
                #mindfulness
                    h1 Mindfulness
                    include templates/services/mindfulness
                #moxibustion
                    h1 Moxibustion
                    include templates/services/moxibustion
                #musicTherapy
                    h1 Music Therapy
                    include templates/services/musicTherapy
                #taiChiQiGong
                    h1 Tai Chi & Qi Gong
                    include templates/services/taiChiQiGong
                #tuiNaMassage
                    h1 Tui Na Massage
                    include templates/services/tuiNaMassage
                #veterans
                    h1 Veterans
                    include templates/services/veterans