p.
    <b>Myth:</b> You must be Chinese or Asian to practice Chinese medicine
p.
    <b>Fact:</b> Around 18,000 traditional Chinese medicine practitioners exist in the U.S.The vast majority of these
    are non-asian. Chinese medicine is a system of medicine based on highly organized and finite body of knowledge. It
    makes no difference as to your racial background as to one’s ability to learn and practice Chinese medicine. We can
    trace Western medicine back to it’s roots in ancient Greece. Does this mean that only Greeks can practice Western
    medicine?
p.
    <b>Myth:</b> Chinese medicine is religious based and goes against my Judeo Christian belief.
p.
    <b>Fact:</b> All medicine from all cultures, if traced back far enough, originated from the shamans and spiritual
    leaders of that particular group of people. The healer was often the spiritual leaders of that clan. However, as
    humankind evolved medicine emerged as a science not a religion. This holds true with Chinese medicine as well.
    Modern professional Chinese medicine (TCM) is not practiced as it was 2000 years ago. It is a product of the Peoples
    Republic of China. The refinement of TCM by the PRC over the past 50 years has removed Eastern spiritualism from the
    mix.
p.
    <b>Myth:</b> Acupuncture is best performed by a physician (MD).
p.
    <b>Fact:</b> Physicians performing acupuncture have little if any training. Referred to as “medical acupuncture”
    they only need 200 hours of training to be a member  of the American Academy of Medical Acupuncture. Of the 200
    hours only 80 hours of clinical training is required. Licensed acupuncturists (L.Ac.) have several years of
    extensive training in the complete system of Chinese medicine of which acupuncture is just one modality. Before
    sitting for the California state board exam, several thousand hours of classroom and clinical training are
    completed.
p.
    <b>Myth:</b> Acupuncture is only for pain
p.
    <b>Fact:</b> Since the early 1970’s many studies have revealed acupuncture’s ability to relieve pain. Because of
    this fact, the established medical community stereotyped acupuncture as a treatment only for pain. Those who studied
    and practiced modern Chinese medicine knew otherwise. The Consensus Statement released by the National Institute of
    Health in 1997 recognized the efficacy of acupuncture for more than just pain relief and recommended further study.
    Since then the World Health Organization  has listed more than 40 conditions for which acupuncture treatment may be
    appropriate.