p.
    Many things influence the quality, quantity and balance of Qi and other TCM holistic parameters to cause an illness.
    Physical and emotional trauma, stress, lack of exercise, overexertion, seasonal changes, diet, accidents or
    excessive activity , toxins and drugs, chronic diseases can lead to a  imbalance of Qi.
p.
    Normally, when this imbalance occurs, the body naturally bounces back, returning to a balanced state of health and
    well-being. When there is a disruption of ones  Qi  level that is  prolonged, it causes the body to become weak.
    Ultimately  illness, pain or disease can set in.