p.
    The depth of the insertion varies. The practitioner takes into consideration the thickness of the anatomical
    structures where the acupuncture points are located. Fleshier areas, such as the buttocks,  require deeper
    insertion. Typically, needles are inserted at depths ranging from 1/8″ to 1 1/2″.