p.
    The number of treatments will vary from person to person. Some experience immediate relief while others make take
    months or even years to achieve results. Chronic conditions require different treatment techniques than acute
    conditions and may take longer to resolve. In general, plan on at least one course of treatment to see significant
    changes. A course of treatment may be 6 to 10 sessions.
p.
    Frequency of treatments depends on a variety of factors, some include, your constitution, severity and duration of
    symptoms and the quality and quantity of your Qi. Your TCM practitioner  may suggest one or two treatments per week,
    monthly visits for health maintenance or seasonal tune-ups.