p.
    During the initial exam a full health history will be taken. Questions will be asked regarding  symptoms, health and
    lifestyle. Your practitioner will check your pulses and your tongue and may palpate acupuncture points on your body.
    Other observations of face, hands, and feet will be made.  This information is then organized to create a complete,
    accurate and comprehensive diagnosis of where Qi has become blocked or imbalanced. Your TCM practitioner will then
    develop a treatment plan which may be composed of one or more of the many branches of TCM, i.e., acupuncture,
    Chinese herbal medicine, medicated diet therapy, qi gong, etc. The initial intake, diagnosis and treatment may last
    from thirty to 60 minutes.