p
    ul
        li.
            Come with any questions you may have. Remember, we’re here to help YOU.
        li.
            Wear loose, comfortable clothing for easy access to acupuncture points.
        li.
            Please do not come with an empty stomach but avoid avoid large meals just before your visit.
        li.
            Refrain from over exertion, working out, and drugs or alcohol for up to six hours after the visit.
        li.
            Avoid stressful situations. Make time to relax and be sure to get plenty of rest.
        li.
            Between visits, take plenty of notes of any changes that may have occurred, such as the alleviation of pain,
            pain moving to other areas, or changes in frequency and type of problems.
