p.
    Although TCM has many medical concepts and principles, we will just discuss the concept of Qi in this article. At
    the core of this ancient medicine is the philosophy that Qi (pronounced “chee”), or Life Energy, flows throughout
    the body. Qi helps animate the body and protect it from illness, pain and disease. A person’s health is influenced
    by the quality, quantity and balance of Qi.
p.
    Qi circulates through specific pathways called meridians. There are 14 main meridian pathways throughout the body.
    Each is connected to specific organs and glands. Meridian pathways are like rivers. Where a river flows, it
    transports life-giving water that nourishes the land, plants and people. In the same way meridian pathways transport
    life-giving Qi to nourish and energize every cell, organ, gland,tissue and muscle.
p.
    When Qi flows freely throughout the body, one enjoys good physical, mental and emotional well-being. An obstruction
    to the Qi anywhere in the body is like a dam, backing up the flow in one area and restricting it in others. This
    blockage can hinder the distribution of the nourishment that the body requires to function normally. Beside
    blockages, other abnormalities of Qi may be a deficiency, excess, scattered, rebellious, etc.