p.
    Acupuncture: Upon insertion of the needle you may experience a sensation that will vary depending on the person. The
    feeling can be described as a feeling of distention, numbness, heaviness, tingling or dull ache.  Most, if not all
    people come to realize that acupuncture is not painful. This is due to the type of needle that is used which are
    solid and very thin. The practitioner is trained to insert painlessly.
p.
    Upon the arrival of “de Qi” or Qi sensation, some patients feel a sensation of energy spreading from the needle.
    This is normal and considered a good reaction to the acupuncture. The treatment is working at this time. After
    acupuncture you may feel energized or may feel a deep sense of relaxation or well-being.
p.
    Traditional Chinese herbal medicine (TCHM): Your treatment may require you to take TCHM. A formula based on your
    specific TCM diagnosis will be prescribed. It will be in the form of pills, powders, granules, or  loose herbs. Your
    TCM practitioner will instruct you as to the preparation and dosages. Your compliance is crucial in order for the
    herbs to achieve their therapeutic results.
p.
    Other therapies may be introduced as well and your TCM practitioner will discuss them with you.