p.
    There are 12 pulse positions on each wrist that your TCM practitioner will palpate. Each position corresponds to to
    a specific meridian and organ system. Your practitioner will be looking for 27 individual qualities that reflect Qi
    flow in the organs and meridians. Pulse taking is arguably the primary diagnostic method used in TCM.