p.
    The tongue is a map of the body. It is yet another example of the principle of correspondence in TCM. Each area of
    the tongue corresponds to the organs and meridians. Your practitioner will observe the color, shape, cracks,
    coating, and movement of your tongue. Each has a special meaning and reveals pathological conditions. It may be
    noted that an accurate diagnosis in not solely based on the the tongue.