h1 About Us
b Special brand of medicine offered in a very unique way to South Valley
hr
p.
    Dr. Kwong practices Traditional Chinese Medicine (also referred to as Oriental Medicine) in the Central Valley.
    Their clinic, the Center for Integrated Medicine, is a full service Traditional Chinese Medicine (TCM) clinic. Such
    medical modalities as acupuncture, Tui Na massage, cupping, moxibustion, food therapy, Tai Chi, medical Qi Gong and
    the granddaddy of them all, Chinese herbal medicine, are all practiced at their clinic.
p.
    One of the standout features of the center is its herbal pharmacy where loose and powdered herbs are formulated into
    herbal prescriptions tailored for each individual patient. Patent medicines in pill form are available as well.
p.
    Another unique feature is that their practice takes a unique approach. Their clinic in Visalia offers complete TCM
    services from acupuncture to same day, custom, individulaized, herbal formulas to treat internal and external
    disorders naturally and holistically.
p.
    Dr. Kwong has a doctorate degree in Pharmacoloy/pharmacy practice (Western medicine). She also has a post-doctorate
    degree in TCM and is a California state licensed and board certified TCM medical practitioner. Dr. Kwong is an
    associate professor and clinical lecturer of integrative medicine. Teaching is a big part of this Center and she
    continues to precept intern students from various universities. She serves as Director of Clinical Services at the
    Center.
p.
    Over the years, due to media coverage and the way western science has explained the effectiveness and use of
    acupuncture, most people think acupuncture is used only for the treatment of pain. This is true, but more
    importantly, TCM is a complete medical system unto itself and can be used to treat a variety of internal and
    external diseases. TCM is a natural and holistic medicine and can be used as a alternative or complementary
    medicine. To help the public understand this, the Center for Integrated Medicine provides a Public Education and
    Awareness Series to educate their patients as well as the general public. This is a series of classes ranging from
    understanding acupuncture to an introduction to herbal therapy and the very popular Chinese Way of Eating Healthy
    cooking class. The center even holds regular Tai Chi Chuan classes.
p.
    To get a copy of medical articles recently published by Dr. Kwong please call our office at (559) 625-4246.
