.container-fluid
    .row
        .col-md-9
            h1 FAQs

            a.faqLink(data-toggle='collapse', data-target='#whatsAcu') What is Acupuncture?
                span(class='glyphicon glyphicon-menu-down')
            #whatsAcu.collapse
                include FAQ/whatsAcu.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#acuMyths') Acupuncture Myths
                span(class='glyphicon glyphicon-menu-down')
            #acuMyths.collapse
                include FAQ/acupunctureMyths.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#acuSafety') How Safe is Acupuncture?
                span(class='glyphicon glyphicon-menu-down')
            #acuSafety.collapse
                include FAQ/acuSafety.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#howDeep') How Deep Do They Go?
                span(class='glyphicon glyphicon-menu-down')
            #howDeep.collapse
                include FAQ/howDeep.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#preparation') How Should I Prepare for My Visit?
                span(class='glyphicon glyphicon-menu-down')
            #preparation.collapse
                include FAQ/preparation.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#whatToExpect') What Should I Expect During Treatment?
                span(class='glyphicon glyphicon-menu-down')
            #whatToExpect.collapse
                include FAQ/whatToExpect.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#howMany') How Many Treatments Will I Need?
                span(class='glyphicon glyphicon-menu-down')
            #howMany.collapse
                include FAQ/howMany.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#whyTongue') Why Do They Want To Look At My Tongue?
                span(class='glyphicon glyphicon-menu-down')
            #whyTongue.collapse
                include FAQ/whyTongue.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#whyPulse') Why Do they Want To Feel My Pulse?
                span(class='glyphicon glyphicon-menu-down')
            #whyPulse.collapse
                include FAQ/whyPulse.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#medPract') What Will My Chinese Medicine Practitioner Do?
                span(class='glyphicon glyphicon-menu-down')
            #medPract.collapse
                include FAQ/medPract.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#whatQi') What is Qi and How does It Travel?
                span(class='glyphicon glyphicon-menu-down')
            #whatQi.collapse
                include FAQ/whatQi.jade

            br

            a.faqLink(data-toggle='collapse', data-target='#affectQi') What Can Affect Qi?
                span(class='glyphicon glyphicon-menu-down')
            #affectQi.collapse
                include FAQ/affectQi.jade

            br

        .col-md-3
            h3 Not finding any of these questions helpful?
            p.
                If you have any other personal questions that aren't listed here, please do not hesitate to contact the
                office of Dr. Kwong at (559) 625-4246