h1 Natural Oriental Facelift Skin Rejuvenation
ul
    li Discover the Oriental secrets to youthful looking skin
    li Firm up sagging skin
    li No surgery, no chemical peals
    li Reduce wrinkles
    li No tired eyes
    li Anti-aging facial points
    li No expensive devices
    li Find out how to rejuvenate the skin with Traditional Chinese Medicine
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>
p.
    Register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.