h1 Garden Feng Shui

p Our Garden is like our aura. It is the visitors first impression to your home and who you are as a person.

ul
    li.
        Understand the basic principles of Feng Shui which is a combination of a unique blend of elements; philosophy,
        common sense, and interior design to increase happiness with your environment.
    li.
        Learn how to survey your yard/garden to encourage healthy and harmonious living.
    li.
        Learn positive enhancements, avoid energy traps and confusion that surrounds you.
    li.
        How can Dr. Kwong help transform your garden by using the ancient Chinese art of Feng Shui?

p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>

p.
    Register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.