h1 Introduction to Herbal Therapy
ul
    li Learn the secrets of Chinese herbalists to enhance immunity.
    li Learn the general concepts and energetics of Chinese Herbology.
    li Introduction to the Materia Medica of Chinese herbs.
    li Compare the clinical use of herbs with Western drug therapies.
    li Compare herbal prescriptions with that of Western medicine.
    li Safe use of herbs with Western drugs.
    li Consumer guidelines for the safe use of herbs.
    li.
        Understand why herbs should not only be used to treat symptoms, but instead they are prescribed according the
        holistic needs of the patient.
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>
p.
    register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.