h1 Principles of Massage Therapy
ul
    li need
    li content
    li still
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>
p.
    Register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.