h1 Medicine as a Career
p.
    Considering medicine as a career?  This workshop is highly recommended for students 9th grade and up, parents,
    counselors, teachers and those preparing for a career in any field of professional health care.  In this workshop
    you find answers to the following questions;
ul
    li What are the pre-requisites and skills needed to become a doctor?
    li How to plan your high school courses
    li Where to get hands on experience in a medical environment
    li What to expect during medical school
    li What are the various doctorate programs in the US and abroad?
    li How to finance your education?
    li What are the options after Medical School
    li What is the cost of a Medical School?
    li Conventional allopathic medicine or Physician of Acupuncture / Traditional Chinese Medicine / Natural Holistic Medicine?
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>

