h1 Introduction to Chinese Medical Terminology

ul
    li.
        What is TCM medical terminology and how does it differ from Western medical terminology?
    li.
        What is Pin Yin?
    li.
        Learn the pronunciation of Mandarin Chinese using the Chinese phoenetic alphabet.
    li.
        Understand the basic working knowledge of holistic and natural medicine.
    li.
        Highly recommended for those enrolled in the Holistic Health Certificate program, & those interested in clinical
        internships.
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>
p.
    Register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.