h1 Mini Medical School
p.
    Open to the public.  Lectures/ workshops on various topics of Traditional Chinese Medicine (TCM) as a independent
    Natural and Holistic medical system. Some of the content of the lectures may contain allopathic biomedical
    information, but its main purpose is to educate the public on TCM as a different medical paradigm.
p.
    Duration of each workshop is usually 1-2 hours.  Please call for exact date and time or check your clinic monthly
    email newsletter.
p.
    It is best to make reservation for seating is very limited.  $15.00 per person. With clinic vouncher- no charge.
    Interns and medical apprentices- no charge.  24 hours notice is require for refund.  No videos, picture taking, or
    taping are allow without prior permission of Dr. Kwong (due to patient confidentiality and privacy issues).

b Examples of lectures/workshops:
ol
    li.
        Longevity techniques to nourish life; Center for Integrated Medicine longevity program. Youth preservation
        guidelines based on Li Qing Yuan, oldest man ever lived. What is his secrets to “immortality”.

    li.
        What is involve in an Acupuncture/ Oriental Medicine appointment?  Health history, assessment, diagnostic
        principles, prescription writing.  Insurance billing and coverage, payments, follow-up care, concurrent services,
        appointment scheduling as well as other useful information pertaining to acupuncture sessions.
    li.
        Understanding basic TCM fundamental principles and its “Vital Substances” of Qi, Jing, Shen, Blood, body fluids,
        Zang Fu organs, Jing luo/ meridians,  etc. which are foundations to TCM. What are the signs and symptoms of
        abnormal/unbalanced levels?
    li.
        Patient Case Study on various topics. This will be a presented in both biomedical and TCM perspectives. However the
        emphasis will be on TCM. Patient may invite family/ friends. So register early. The following is only a short list
        of topics: Allergies/ asthma, Shingles, Bells Palsy, Sciatica, Diabetes, Migraines, Kidney Stones, Inflammatory
        Bowels (Colitis), Chronic fatigue, Lupus, Osteoarthritis, Addictions, Menopause, Mental/Emotional issues, etc.
    li.
        Diagnostic principles in natural medicine. The five senses in diagnostic techniques and healing in TCM;
        Observation (look), auscultation (listening), palpation (touching), olfaction (smelling), gestation (tasting).
    li.
        Herbal soup cooking demo.  Discuss Chinese nutrition concepts as well as step by step cooking instructions to
        "Clearing Soup"/ Qing Bu Liang and "Moistening Soup"/ Bok Choy Gan Tang. Both from Jade Garden Pharmacy. $25.00
        per person (with or without voucher).
    li.
        Introduction to Tai Chi and Qi Gong healing exercises. Learn basic principles and relaxation techniques for
        mind, body and spirit as well as various styles of Tai Chi. This workshop may be beneficial to those who need an
        introduction before signing up for a class (series of sessions).
    li.
        Cancer Care support with TCM. Decrease and/or eliminate side effects of chemotherapy/ radiation in addition to
        support of overall body function to help rid of cancer will be discuss. TCM "Fu Zheng" therapy has proven to
        increase survival rates.
    li.
        The use of TCM to help Infertility patients. Highly recommended for both female and male infertility patients.
        Will discuss pathology, TCM differential diagnosis(es) and treatment protocols.  Also reference in this workshop
        are frequent miscarriages, ovarian cysts, uterine fibroid, menstrual problems, low sperm count, sperm morphology
        (decrease quality), and other issues related to infertility.
    li.
        How does the Acupuncturist/ TCM physician come up with your herbal prescription? Learn how herbs are put
        together based on patient's TCM holistic diagnosis(s). Learn the basic comparisons between modern day drugs
        therapy to that of natural medicine prescription.
    li.
        Famous physicians in TCM.  All natural and/or holistic medicine has its roots in TCM. Here you will learn the
        ancient doctors of  TCM to the modern day TCM physician who won 2016 two Nobel prizes in medicine,  Chinese
        herbs and medical physiology, Dr. Y. Tu.
    li.
        Others

p If your topic of interest is not listed, please submit your inquire by email, FB or phone call.