h1 Mid-Autumn Moon Festival
p.
    Join us for this traditional Asian cultural holiday. It is said the moon is most round and brightest during this
    time which symbolizes reunion. Moon cakes and Chinese hors d’oeuvres are often served with tea on this holiday. Come
    for moon gazing, performances and learn the significance Moon Cakes play in Chinese history.
p.
    This year, our Mid-Autumn Moon Festival will be combined with our Tea Tasting Workshop! Learn the difference between
    the different types of teas, ie. Green, Black, Oolong, etc.
ul
    li Tea brewing instructions and cookware discussion.
    li Discover the health benefits and medicinal uses of tea.
    li Understand the difference between store bought tea and high quality loose tea.
    li Learn from a Traditional Chinese Medicine doctor.
    li Tea Tasting and refreshments will be served.
p.
    Mooncakes and Chinese Hors D’oeuvres will be served.
p.
    Please bring your own Asian tea cup to sample “various types” of teas and a stand-alone candle/lantern for evening
    light. All proceeds will benefit the Asian Cultural Society (Chinese New year Event).

p <b>Cost:</b> $25.00 per person
p <b>When:</b> First Saturday of October
p <b>Where:</b> Visalia, CA
p <b>RSVP:</b> Center for Integrated Medicine 625-4246