h1 Introduction to Tai Chi & Qi Gong
p.
    The exact origins of Tai Chi and Qigong are unknown, however scholars believe these practices were prevalent in
    China several thousand years previous to writing. Qigong, and its younger sibling Tai Chi, have been used to explore
    the essence of life and increase vitality, longevity, and inner peace. They are key components of self-care in
    Chinese medicine but have only recently been widely available in China as they were formerly only within reach of
    monks, physicians, warriors, ministers, scholars and the members of the imperial court. But just what is the secret
    of those methods that keeps you creative and vital?
p.
    Underlying everything in our existence, according to the scientists and philosophers of ancient China, is a primary
    force which creates and sustains life. This essential resource, is called Qi (Chi pronounced chee). Qigong, the art
    of cultivating and harmonizing this life force, has been affectionately dubbed the grandmother of Traditional
    Chinese Medicine.
p.
    Western science has become inspired by this concept at every level. Research is exploring to find its equivalents
    physiologically, energetically and even in the realm of quantum physics. The rapidly proliferating popularity of
    acupuncture suggests that Qigong and its younger sibling, Tai Chi, are poised to become major players in health
    promotion.
p.
    There is significant controversy around the concept of modifying traditional Tai Chi to make it easy, accessible,
    useful for cultures outside of China. Following much research in Chinese medicine, Chinese philosophy, Tai Chi and
    Qigong and with robust investigation throughout China, it has become absolutely clear that only a very few believe
    that Tai Chi should not be modified to serve a wider audience of people.
p.
    Cost: No charge to patients, Holistic Health students, or CIM interns.<br>
    All others – $15 per person (must be paid in advance)<br>
    Date: TBD 2017<br>
    Place: Call for direction.<br>
p.
    Register by calling Center for Integrated Medicine at 625-4246. Space is limited to 30 people.


