p.
    We know that acupuncture developed over a period of at least 5,000 years from its first beginnings. Acupressure,
    which preceded acupuncture by at least a millennium, can claim to be the most ancient healing art of the two. How
    this wonderful therapy came into being is unknown. Perhaps it started because a Sage with a blinding headache hit
    himself on a tree and found relief. Or it might have begun with a mother pressing points that somehow soothed her
    crying child. The later is probably the case. In any event, knowledge was accumulated, studied and shared, and
    eventually passed on so that future generations could enjoy its benefits.
p.
    At some point acupressure lost favor in China; it came to be considered inferior to acupuncture in the same way that
    acupuncture was considered inferior to herbology. This was not because of a lack of efficacy, but because of the
    class structure of ancient China. In order for a physician to show appropriate respect for his more aristocratic
    patients, he, being a scholar himself, would touch and handle them as little as possible. Also, upper classes that
    could afford to spend their time in more scholarly pursuits looked down upon anything resembling manual labor.
p.
    The highest, most refined form of medicine became observation and prescription, (herbology), much like today. The
    next highest was the elegant method of treatment with needles, (acupuncture). The least refined of these techniques
    was acupressure, manipulation of the actual flesh with the hands. Those without means or advanced education, the
    farmers and country folk, were those who used acupressure in their daily lives. Acupressure became a lower pursuit,
    something for the peasant class, even though it was highly effective.
p.
    Acupressure therapy uses the same points on the body as acupuncture, to treat or prevent disease. The latin word
    ‘Acus’ means needle. The therapist takes care to use the exact point, but instead of using needles, the therapist
    uses hands and fingers to place pressure on these points. So, when reference is made to acupressure points, remember
    that these are the same as acupuncture points.
