p.
    Acupuncture is a method of treatment that has been practiced for thousands of years in China and other Asian
    countries. The practice of acupuncture began in ancient times in the very primitive stages of human history. It is
    used as a means of treating and preventing disease through the application of needles to the body. Although
    introduced to the Western world about three centuries ago, it has only gained momentum in the last few decades.
    While the debate over the theories and usefulness of the treatment continues among medical scientists, the
    popularity of acupuncture therapy has continued to grow and it is now practiced throughout the world. Benefits of
    acupuncture include its effectiveness in healing a wide range of problems with few side effects, and its use in
    anesthesia. Its low cost is attractive to individuals as well as large health-care organizations.
p.
    Like all the other components of Traditional Chinese Medicine, or TCM, its techniques have undergone more than 5,000
    years of refinement. The earliest known acupuncture instruments are from the New Stone Age. They were stones with
    sharp edges,and symbolized by the Chinese character ‘bian’ meaning, ‘use of pointed stone to treat disease.’ Science
    and technology have enabled us to update and better acupuncture instruments. They are made from bone, bamboo,
    needles, bronze, iron, gold and silver. Now, disposable, stainless steel needles are commonly used. Just as the
    structure of the needles has been refined, so has the method of application. A recent development known as
    “electro-acupuncture” uses electrodes attached to the needles in order to conduct small amounts of pulsating
    electrical current to the acu-points. The number of points on the body where acupuncture can be applied has also
    increased. A wide range of acupuncture therapies is now practiced in many parts of the world, including ear
    needling, scalp acupuncture and hand acupuncture.
p.
    Acupuncture is a very simple procedure administered by inserting very fine, thin needles into the acu-points along
    the different meridians, or pathways of energy.  According to the theories of traditional Chinese medicine, to
    achieve the best results, the method of treatment used and the selection of acu-points must be based on proper
    diagnosis and treatment principles.

b TDP (aka DTP) lamps:
p.
    In some treatment sessions, heat or warmth is needed on acupuncture points or meridian channels to correct
    imbalances in the body. TDP lamp emits far- infrared red waves from a  mineral clay heating device which is place
    over the acupuncture needles.  It will help to regulate physiological deficiency, promote metabolism, and diminish
    pain. This is a good alternative to moxibustion.  Just as with acupuncture needles, TDP lamps are considered medical
    devices.  Ask our TCM physician/ Acupuncturist if you are interested.
