p.
    Cupping is the treatment of disease by suction of the skins surface. A vacuum is created in small jars which are
    then attached to the body surface. The vacuum causes a drawing up of the underlying tissues into the cups, pulling
    inner congestion in the body up and out. When effective, the skin will appear reddened and bruised after the cup is
    removed. This marking can take several days to disappear, but it will go away. The person should notice an immediate
    difference in their condition, be it congestion or pain.
p.
    Applications of cupping are called for in varying conditions such as back and shoulder pain due to muscle tightness
    or strain, stiff neck, cough and asthma. It can also dispel colds, and diminish swelling and pain.
p.
    Clinically, cupping can be used by itself or combined with acupuncture and moxibustion to enhance treatment outcome.
