p.
    The Chinese art of placement so that the natural Qi flows properly in a given environment. A Qi enriched environment
    attracts all kinds of benefits and positive opportunities and of course improves your health. Our surroundings are
    alive, connected and always changing.  Therefore, you should always have a critical eye towards your environment,
    especially your home and your work place, for the smooth flow of the vital energy that surrounds you.
p.
    Feng Shui incorporates Chinese beliefs, thought and customs such as Taoism, Confucianism and the I-Ching.
p.
    What is Feng Shui? There is a life force called Qi, which is in the form of an energy field that exists in the
    environment. Qi comes from the elements of nature: wind, water, moon and stars. All produce Qi. And that Qi is
    released from these elements and moves down towards the planets. In our case it moves towards the Earth.
p.
    Qi has the innate characteristic to define itself. As it moves towards each area or space it starts to define
    itself. In this process of differentiating itself, it produces feelings that we all know but are hard to put into
    words. There is no language for this. For instance, all of us who live in a particular area, let’s say California,
    fall under the umbrella of its Qi. But the Qi of Texas, for example, is very different than the Qi of California.
    There is a funneling down of this process: the Qi of Northern California is different from the Qi of Southern
    California; the Qi of Visalia is different from the Qi of Fresno. So we are constantly making decisions on where we
    want to be based on Qi.  There’s a certain affinity that happens and we might say, “we like the neighborhood” or
    “we like the state because of its weather,” but actually we’re communing with an energy that’s invisible, that pulls
    us to a certain area.
p.
    Qi funnels down to more confined areas and gets more and more refined as it gets closer to the person. As it gets
    closer to your home, it starts to get more and more personalized. It starts reflecting a particular energy field.
    As Qi moves into your home and garden, the thing that creates a different feeling in one room or area of your yard
    versus another area are different variables that come together to create what we refer to as the “Feng Shui” of the
    space. In your garden, for example, the colors, shapes and sizes of your flowers, shrubs and trees, path and
    walkways, borders, materials whether they be masonry, wood, ceramics or rock. The patio area, placement of patio
    furniture, swimming pools, ponds, and vegetable gardens, even the way the house sits on the lot. All these variables
    come together to create an energy field. That energy field with all those combined variables will be a place that
    you’re either going to be compatible with and feel good in or you’re going to feel repelled by and want to spend
    less time in. And this, by the way, pertains to everything you are surrounded by.
p.
    Now we get to the good part. When these variables come together, that’s going to determine your quality of life
    right down to your health, finances, and relationships. In Feng Shui, we are attempting to define that dance between
    energy of space and energy of person.
