p.
    “Food therapy should be used first for any chronic disease, followed by medicine if they are not cured.”<br>
    – Dr. Sun Si Miao of the Tang Dynasty.
p.
    Chinese nutrition is the delicious counterpart to Chinese herbal medicine. The Chinese people have known for
    centuries that ordinary foods contain powerful healing properties. Based on the principles of TCM, namely that of
    the Five Element Theory and the principle of Yin and Yang, each food is characterized by its flavor, energies and
    actions. Diet therapy regulates and treats the different organs of the body according to the properties of the food.
p.
    Before suggesting a therapeutic diet, a doctor of Chinese medicine must first take many different factors into
    consideration. The practitioner studies the patient’s constitution, the illness, type of symptoms, even the season
    and climate. The doctor selects the proper diet for the patient based on all of these factors, not just upon the
    disease alone, which would be the holistic approach.
p.
    At the Center for Integrated Medicine we have various herbal soups you can purchase . These are particularly good
    for cleansing, weight loss, prevention of cold and flu, dry cough, summer heat, etc.
