p.
    Gua sha is an ancient healing technique used by many clinicians of TCM. In this procedure, a lubricating medium,
    such as massage oil, is applied to the skin of the area to be treated. A smooth-edged instrument is used by the
    acupuncturist to apply short or long strokes on the skin, typically in the area of pain or on the back parallel to
    the spine. This stroking motion creates raised redness (petechiae) or bruising (ecchymosis). By J. Starkey, L.Ac.