p.
    This can be described as a form of directed daydreaming. Guided by a practitioner, you are invited to shift your
    mental attention to a place you imagine or recall that represents a relaxed, safe environment. You bring all of your
    senses into an awareness of this place – seeing, hearing and feeling the sensations in your body associated with
    being there. As you deepen your awareness, you use your breath and intent to deepen your experience of relaxtion.
    After a relaxed state is reached, the practitioner can offer you specific suggestions to manage your experience of
    pain, for example.
p.
    Guided imagery sessions can vary from several times a day to several times a week. They are performed with a
    practitioner or can be facilitated using tools such as a CD or audiotape. People who use guided imagery say that
    it’s benefits increase with practice.
p.
    Guided imagery is most often used for – pain management, headaches and stress relief.
