p.
    What are Chinese herbs? Some say they the are barks and roots. However, Chinese herbs are not limited just to barks
    and roots; they include many other medicinal agents. In fact, it includes animal as well as mineral products. The
    development of the TCM materia medica has gone from the original 364 entries when it was first formally compiled
    around the fourth century AD to almost 6,000 entries today.
p.
    For thousands of years, Chinese medicinal plants have played an important role in disease prevention and in the
    treatment of the Chinese people. Currently, their importance and significance have been recognized by the Western
    world and they are now well received by the general public. How do they work you might ask? The answer to that
    question is well beyond the scope of this document. Briefly, herbs have basic qualities or energetics, such as the
    nature or property, the taste, its direction, functional site, etc. These qualities are all taken into consideration
    when formulating an herbal prescription, which usually includes many different herbs to achieve balance. All of this
    is based on the diagnostic principals of TCM, which includes the system of Yin and Yang, Meridian Theory, organ
    diagnosis, therapeutic strategy, organization of prescription and the selection of herbs. All of this in order to
    balance and regulate the body holistically.
p.
    There is a lot of confusion regarding Chinese herbs and their side effects on the liver and kidneys. Please give us
    a call with any questions you may have.
