p.
    This form of meditation focuses on becoming aware of yourself – your thoughts, your breathing, your emotions – and
    the world around you with non-judgemental acceptance. By maintaining awareness moment by moment and loosening any
    strong attachments to thoughts and emotions, you develop a greater sense of balance and well being. Through
    acceptance of yourself and your circumstances, you no longer expend energy resisting them, allowing you to manage
    your situation from a more relaxed, engaged perspective. For example, evidence shows that mindfulness meditation
    can improve performance on tasks that require attention and focus.
p.
    Mindfulness is most often used for – Pain management, stress reduction, insomnia, depression and motivating
    lifestyle changes, such as weight loss and smoking cessation.
