p.
    Moxibustion is a method of burning herbs, (Mugwort), on or above the skin, usually at specific acupuncture points.
    This herb, while its heat is mild, it burns easily and penetrates deeply beneath the skin into the body. The heat
    warms the energy and blood of the body and is useful in the maintenance of disease and health.  Quite often pain and
    disease result from a blockage or improper flow of energy and blood circulation. Moxibustion uses heat to alleviate
    the original blockage and correct the flow, and is wonderful for sprains, traumas and injuries.  In addition, it
    stimulates and supports the immunity of the body, and eliminates cold and damp, thus promoting normal function of
    the organs.
p.
    Moxa comes in a variety of forms: loose wool, in cones or as sticks called moxa cigars.
