p.
    For thousands of years, music has been used to soothe, inspire and motivate people. People interact with music, and
    it can alter the nervous system, affecting your blood pressure, temperature, pulse, breathing rate and tension. Many
    people use music to help themselves – for enjoyment, relaxation, – or to energize themselves. However, sometimes
    when people are struggling with difficult health situations such as depression, rehabilitation or dementia, music
    therapy can be effective in assessing, implementing and analyzing a plan of care. These situations are where formal
    music therapy programs are used.
p.
    Research has shown both physical and mental benefits of music therapy. For formal music therapy , a board certified
    musical therapist assesses needs and potential benefits of music therapy. Usually, music therapy works toward works
    toward a non-musical goal, such as relaxation, gait training, pain management, coping or finding comfort in a
    hospice setting. A session may include a long song composition, instrument instruction, singing, listening, music
    combined with imagery or music improvisation. No musical ability is required of the listener.
