p.
    Tai Qi, (T’ai Chi), Chuan is an exercise system of ancient origin. It is an art of self-discipline and self-defense
    based upon the movements of animals and birds as well as the philosophy of Yin and Yang. It helps promote inner
    relaxation, harmony, and strength if practiced regularly. Tai Qi blends the internal meditation association of Qi
    Gong with an external exercise program. It involves slow, graceful movements and can be practiced almost anywhere.
p.
    What is Qi Gong, (Chi Kung)? First you should know that “Qi” means “energy”or “air”.  Gong means, “inner work”.
    Thus Qi Gong means , “Guiding Energy” or, “Working of air.” It is the conscious and systematic development of the
    vital energy of the body.
p.
    Qi Gong is a form of exercise and breathing techniques which most, if not all, of Chinese martial arts originate
    from. In performing Qi Gong exercise, the goal is to build up internal Qi.  It is known to keep ones body fit
    healthy and promote long life. There are many different forms of Qi Gong which are practiced within different
    systems. A few examples are  the “Confucian Method.” This method is practiced to emphasize regulation of the mind
    and achieve a state of tranquility which will in turn cultivate moral character.  There is the “Martial Arts
    Method,” which aims to build up the inner strength to the point that he or she becomes invulnerable to both moral
    and physical attack.  And last, but not least, the “Medical Method,” which is practiced to prevent disease, promote
    health and prolong life.
