p.
    Tui Na is an ancient branch of TCM. Some of its techniques include massage, physical therapy and chiropractic. The
    manipulation techniques of Tui Na are based on understanding the anatomy and physiology within the Chinese concept
    of a person. In this way it departs from Western massage and physical therapy and chiropractic. Because the Chinese
    concept of the human body is holistic, ( i.e., the entire human organism is connected by way of the jing luo,
    meridians and collaterals in which the chi (Qi) flows), with their respective points located at the level just under
    the skin, Tui Na can actually address internal organ conditions as well as local pathologies.
p.
    This therapy, also called Anmo which means, ‘treatment with the hands,’ in Chinese, is widely used in Asian
    countries. It’s awareness in the US is beginning to spread and we foresee a major development in its use in the next
    few years.
p.
    Manual Tui Na methods include pressing, circular kneading, twisting, flicking, pushing, grasping, shaking, rotating,
    and tapping to name a few. The practitioner uses these methods with the fingers, palms, fists or elbows. Tui Na may
    use the same pressure points as acupuncture. Often times upon completion of a tui na treatment, herbal oils and/or
    liniments are applied to the affected area. Tui Na therapy may have the ability to regulate nerve function,
    strengthen the body’s resistance to disease, to flush out the tissues and improve circulation of blood, and to make
    the joints more flexible. It is also used for soft tissue injury.
