p.
    This is how you can get Veterans Administration to cover for Acupuncture related services at our clinic. The VA will
    view each patient case on an individual basis. The Chinese Medicine physician/ Acupuncturist cannot be contracted
    aka as in- network therefore the patient need to do all the paper work/ chase. Dr. Kwong is willing to accept VA
    patients and veterans even though the VA reimbursement rates are very low (sometimes lower than Medi-cal). Because
    of this, she does not have the money to hire more staff to take care of the VA’s paper work. so it is important that
    you follow these steps:
ol
    li.
        Have your VA primary care doctor or PA set up referral for its medical necessity. Often times the VA system is
        disorganize, so we recommend that the patient pick up the necessary paper work and bring it in to the VA doctor
        or PA.
    br
    li.
        Do not depend on the VA doctor/ PA to include reasons for medical necessity for the referral. Do it yourself for
        faster service. Ask staff at our clinic to help you.
    br
    li.
        Then you need to make sure this referral paper is turn in by your VA doctor to the appropriate department.
    br
    li.
        Then you need to check with the VA to make sure the EOB is sent ahead of time to our clinic for approval before
        you can be seen as a patient.
    br
